<div class="container brewery-container">
  <h1>Brewpubs</h1>

  <table id="breweries-table" class="display table table-bordered table-striped" data-source="<%= breweries_path(format: :json) %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Score</th>
        <th>Info</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

  <br>
  <% if policy(Brewery.new).create? %>
    <%= link_to 'New Brewery', new_brewery_path, method: :get, class: "btn btn-danger" %>
  <% end %>
</div>
