<div class="container brewery-container">
  <h1>Search Breweries</h1>
  <div class="datatable-style data-source = " <%= breweries_path(format: :json) %> ">
    <table id="breweries-table" class="display table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Score</th>
          <th>Info</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
  <br>
  <% if policy(Brewery.new).create? %>
    <%= link_to 'New Brewery', new_brewery_path, method: :get, class: "btn btn-danger" %>
  <% end %>
</div>
