<div class="container brewery-container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h1>First things first...<br><small>Type a city or state into that seach box below.</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Add a Brewery', new_brewery_path, method: :get, class: "btn btn-danger pull-right" %>
      </div>
    </div>
  </div>

  <div class="datatable-style"  data-page-length="25" data-source = "<%= breweries_path(format: :json) %>">
    <table id="breweries-table" class="display table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
  <br>
  <% if policy(Brewery.new).create? %>

  <% end %>
</div>
